<h1> Lista de proveedores </h1>

<%= link_to 'Añadir proveedor', new_provider_path %>

<table class="table">
  <tr>
    <th> Nombre </th> 
    <th> Teléfono </th>
    <th> Dirección </th>
    <th> Es áctivo </th>
    <th colspan="3">  Actions </th>
  </tr>

  <% @providers.each do |p| %>
  <tr>
  <td> <%= p.name %> </td> 
  <td> <%= p.telephone %> </td> 
  <td> <%= p.address %> </td> 
  <td> <%= p.active %> </td> 
  <td> <%= link_to "Ver", provider_path(p) %> </td>
  <td> <%= link_to "Modificar", edit_provider_path(p) %></td> 
  <td> <%= link_to "Desactivar", provider_path(p), method: :delete, data: {confirm: "Desea marcar el proveedor como inactivo?"} %></td> 
    </tr>
  <% end %>
</table>