<center>
<h2> Arqueo de caja </h2>

<table id="cashcount">
  <thead>
  <tr>
    <th> Fecha </th> 
    <th> Descripción </th>
    <th> Usuario </th>
    <th> Valor </th>
  </tr>
</thead>
  <tbody>
  <% @egresses.each do |e| %>
  <tr>
  <td> <%= e.created_at %> </td> 
  <td> Egreso: <%= e.description %> </td> 
  <td> <%= e.user.full_name %> </td> 
  <td> - $<%= e.value %> </td> 
  </tr>
   <% end %>
  <% @sales.each do |p| %>
  <tr>
  <td> <%= p.created_at %> </td> 
  <td> <%= link_to "Venta # #{p.id}", show_sale_path(p)  %> </td> 
  <td> <%= p.user.full_name %> </td> 
  <td> $<%= p.value %> </td> 
  </tr>
  <% end %>
  <tr>
    <td colspan="2"> <b> Total </b></td>
    <td colspan="2"> $<%= @total %> </td>
  </tr>
</tbody>
</center>


