

<table id="cashcount">
  <thead>
  <tr>
    <th> Fecha </th> 
    <th> Descripción </th>
    <th> Valor </th>
  </tr>
</thead>
  <tbody>
  <% @egresses.each do |e| %>
  <tr>
  <td> <%= e.created_at %> </td> 
  <td> <%= e.description %> </td> 
  <td> $<%= e.value %> </td> 
  </tr>
   <% end %>
  <% @sales.each do |p| %>
  <tr>
  <td> <%= p.created_at %> </td> 
  <td>  Venta # <%= p.id %> </td> 
  <td> $<%= p.value %> </td> 
  </tr>
  <% end %>
  <tr>
    <td colspan="1"> <b> Total </b></td>
    <td colspan="2"> $<%= @total %> </td>
  </tr>
</tbody>

<fieldset>
  <legend>Filtrar</legend>
<%= form_tag  do %>
  <div class="row">
    <div class="large-6 columns">
      <div class="small-3 columns">
         <%= label_tag  "Fecha inicial:", nil,  :class =>  'right inline'  %> 
      </div>
       <div class="small-9 columns">
        <%= date_field(:sale, :from_date) %>
      </div>

      <div class="small-3 columns">
         <%= label_tag  "Fecha final:", nil,   :class =>  'right inline'  %> 
      </div>
       <div class="small-9 columns">
        <%= date_field(:sale, :to_date) %>
      </div>

     </div>
    </div>
  <%= submit_tag("Filtrar") %>
</fieldset>

<% end %>



