<h2> No fue posible hacer venta </h2>

<h3> Algunos de los productos en su canasta de compra no están disponible en stock, por ello fueron eliminadas de la misma. 
El administrador será notificado en su próxima sesión para reabastecer el stock. </h3>

<%= link_to "Haga click acá para regresar a su carro de compra", my_shopping_basket_path%>