<h1> Lista de productos </h1>

<%= link_to 'Añadir producto', new_product_path %>

<table id="products">
  <thead>
  <tr>
    <th> Nombre </th> 
    <th> Descripción </th>
    <th> Precio </th>
    <th> Cantidad disponible </th>
    <th> Proovedor </th>
    <th> Categoría </th>
    <th> Activo </th>
    <th colspan="3">  Acciones </th>

  </tr>
</thead>
  <tbody>
  <% @products.each do |p| %>
  <tr>
  <td> <%= p.name %> </td> 
  <td> <%= p.description %> </td> 
  <td> <%= p.price %> </td> 
  <td> <%= p.quantity %> </td> 
  <td> <%= p.provider.name %> </td> 
  <td> <%= p.category.name %> </td> 
  <td> <%= p.active %> </td> 
  <td><i class="fi-eye"><%= link_to "Ver", product_path(p)  %>  </i>  </td>
  <td><i class="fi-pencil"> <%= link_to "Modificar", edit_product_path(p) %></i> </td> 
  <td><i class="fi-trash"> <%= link_to "Desactivar", product_path(p), method: :delete, data: {confirm: "Desea marcar el producto como inactiva?"} %></i> </td> 
    </tr>
  <% end %>
</tbody>

</table>