<center>
<h2> Mis ventas </h2>

<table id="ventas">
  <thead>
  <tr>
    <th> Numero de venta  </th> 
    <th> Fecha de venta  </th> 
    <th> Vendedor </th>
    <th> Total </th>
    <th> Acciones </th>

  </tr>
</thead>
  <tbody>
  <% @sales.each do |p| %>
  <tr>
  <td> <%= p.id %> </td> 
  <td> <%= p.created_at %> </td> 
  <td> <%= p.user.full_name %> </td> 
  <td> <%= p.value %> </td> 
  <td> <%= link_to "Ver venta", show_sale_path(p) %> </td> 

  </tr>
  <% end %>



</tbody>

</table>
</center>