<h1> Venta # <%= @sale.id %> </h1>

<table id="ols">
  <thead>
  <tr>
    <th> Producto  </th> 
    <th> Cantidad </th>
    <th> Precio Unitario </th>
    <th> Precio total </th>

  </tr>
</thead>
  <tbody>
  <% @sale.order_lines.each do |p| %>
  <tr>
  <td> <%= p.product.name %> </td> 
  <td> <%= p.quantity %> </td> 
  <td> <%= p.final_unit_price %> </td> 
  <td> <%= p.final_total_price %> </td> 
    </tr>
  <% end %>
  <tr> <td> </td> </tr>
  <tr>
    <td> <strong> Subtotal <strong> </td> <td> <%= @sale_subtotal %> </td>
    <td> <strong> IVA <strong> </td> <td> <%= @sale_taxes %> </td> </tr>
  <tr>
    <td colspan="2"> <strong> Total <strong> </td> <td colspan="2"> <%= @sale_total %> </td>
  </tr>

</tbody>

</table>
